@import url(https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&display=swap);

/* Variables (color and font) */
:root {
  --background-color: #fbf8f1;
  --mdc-theme-on-primary: var(--text-color);
  --mdc-theme-primary: var(--secondary-color);
  --primary-color: #f7ecde;
  --secondary-color: #5ebab9;
  --text-color: #21201e;
  --transparent: rgba(255, 255, 255, 0);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --font-family: "Akshar", sans-serif;
  --font-light: 300;
  --font-bold: 600;
}

#footer {
  background: var(--primary-color);
  clear: both;
  height: 100px;
  text-align: center;
  width: 100%;
}

#header {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 100px;
  width: 100%;
}

#header,
#main,
#footer {
  padding: 20px 80px;
}

#header-logo {
  float: left;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

#header-profile {
  float: left;
  height: 100%;
  text-align: center;
  width: 30%;
}

#header-search {
  float: left;
  height: 100%;
  width: 40%;
}

#main {
  height: 100%;
}

#main-content {
  float: left;
  height: 100%;
  width: 80%;
}

#main-sidebar {
  float: left;
  height: 100%;
  padding-left: 5vw;
  width: 20%;
}

#main-sidebar,
#main-content,
#header,
#footer {
  box-sizing: border-box;
  padding: 30px;
}

.carousel-item {
  margin-bottom: 10px;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fit-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.flex-bottom {
  align-self: flex-end;
  display: inline-block;
}

.half-visible {
  opacity: 0.3;
}

.main-artist-description {
  text-align: justify;
}

.main-artist-description,
.main-artist-items {
  padding: 0 20%;
}

.main-content-row {
  border-radius: 10px;
  height: 400px;
  padding: 0 30px;
}

.main-content-row-product {
  height: 350px;
}

.main-content-row-title {
  height: 50px;
}

.main-product-buy {
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  width: 40%;
}

.main-product-description {
  float: left;
  width: 60%;
}

.product-card {
  background: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 var(--shadow-color);
  box-sizing: border-box;
  font-family: var(--font-family);
  height: 300px;
  margin-bottom: 1px;
  min-height: 300px;
  min-width: 300px;
  overflow: hidden;
  padding: 10px;
  transition: 0.3s;
  width: 300px;
}

.product-card-image {
  height: 60%;
  margin-left: -20px;
  margin-right: -20px;
}

.product-card-price {
  align-items: center;
  display: flex;
  height: 20%;
}

.product-card-price-button {
  margin-left: auto;
}

.product-card-price-text {
  font-size: 1.5em;
  font-weight: var(--font-bold);
}

.product-card-title {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 20%;
}

.product-card-title-image {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  object-fit: cover;
}

.product-card-title-text {
  display: table;
  height: 80%;
}

.product-card-title-text-author {
  opacity: 0.8;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.right-align {
  text-align: right;
}

.search-bar {
  background: var(--transparent);
  border: 2px solid var(--background-color);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1em;
  height: 100%;
  letter-spacing: 0.1em;
  padding: 10px;
  width: 100%;
}

.search-bar:focus {
  border: 2px solid var(--secondary-color);
  outline: none !important;
}

.text {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

body,
html {
  color: var(--text-color);
  margin: 0;
}

h1,
.product-card-title-text-name {
  font-weight: var(--font-bold);
}

h1,
h2,
h3,
p,
a,
li,
td,
th,
span,
mdc-button,
input {
  font-family: var(--font-family);
}

li {
  padding-bottom: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
